@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-ink-100);
  -webkit-background-clip: text;
  background-clip: text;
  caret-color: var(--color-ink-100);
  border: 0;
}
